.body{
    position: relative;
}
.main_m{
    position: absolute;
    top: 250px;
}

.main_plats_m_barre{
    width: 40px;
    border: 1px solid #99E2D0;
    margin-left: 10px;
    margin-top: 5px;
}



/*animation*/


